* {
    list-style-type: none;
    font-family: 'Qwitcher Grypen', cursive;
    
}
.card_container {
    max-width: 1000px;
    padding: 20px 15px;
        background: linear-gradient(90deg, rgba(131, 58, 180, 0.5525560566023284) 0%, rgba(29, 241, 253, 0.33967090254070376) 50%, rgba(252, 176, 69, 0.29485297536983546) 100%), url('./Veranda-Rovinj-10-1080x1618.webp');
        background-repeat: no-repeat;
        background-size:cover;
        border-radius: 20px;
}

.title {
    font-size: 60px;
    font-weight: 600;
text-shadow: 2px -4px 7px rgba(0, 0, 0, 0.54);
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    color: #edf5fc;
}


.title_container {
    margin: 0 auto;
    width: 250px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-shadow: 2px -4px 7px rgba(0, 0, 0, 0.54);
}

.name {
    text-transform: uppercase;
}

.explain {
    margin: 0 auto;
    width: 450px;
}

.staff_container {
display: flex;
align-items: baseline;
justify-content: space-around;
margin-top: 30px;
}

.name_staff {
    margin-left: 20px;
    font-size: 35px;
    font-weight: 700;
    text-shadow: 2px -4px 7px rgba(0, 0, 0, 0.54);
}


.job {
    font-size: 29px;
        font-weight: 700;
        text-shadow: 2px -4px 7px rgba(0, 0, 0, 0.54);
}

.about {
    font-size: 34px;
    margin: 0 auto;
        width: 250px;
        text-align: center;
        margin-top: 20px;
        text-shadow: 2px -4px 7px rgba(0, 0, 0, 0.54);
}

.menu_list {
    text-align: center;
}

.menu_item {
    position: relative;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    text-shadow: 2px -4px 7px rgba(0, 0, 0, 0.54);
}

.menu_item::before {
    position: absolute;
        top: 0;
        left: 40%;
        width: 20%;
        border-bottom: 1px solid #000;
        content: "";
}

.info_container{
    text-align: center;
color: #edf5fc;
font-size: 28px;
text-shadow: 2px -4px 7px rgba(0, 0, 0, 0.54);
}

.contact {
   text-align: center;
   text-decoration: none;
   font-size: 25px;
   font-weight: 600;
text-shadow: 2px -4px 7px rgba(0, 0, 0, 0.54);
}